

<div class="navbar">
    <nav>
        <a routerLink="/dashboard">DashBoard</a>
  <a routerLink="/home">Home</a>
 
  <!-- <a routerLink="/daily/tasks">Tasks</a> -->
  <a routerLink="/register">Register</a>  
  <a routerLink="/stocks">Stocks</a>
  <a routerLink="/order">Orders</a>
  <a routerLink="/tasks">Tasks</a>
  <a routerLink="/login"></a>
  <a routerLink="/login"></a>
  <a routerLink="/login"></a>
  <a routerLink="/login"></a>
  <a routerLink="/login"></a>
  <a routerLink="/login"></a><a routerLink="/login"></a><a routerLink="/login"></a><a routerLink="/login"></a><a routerLink="/login"></a><a routerLink="/login"></a><a routerLink="/login"></a><a routerLink="/login"></a><a routerLink="/login"></a>
  <a routerLink="/login"></a>
  <a routerLink="/login"></a>
  <a routerLink="/login"></a>
  
  
  
  <a routerLink="/login">Login</a>
  <a routerLink="/service">Service</a>
 </nav>
  </div>
  
  
  
<div class="container">

  <router-outlet></router-outlet>
 
</div>
  
 



