
  
  <br>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><a routerLink="/user">User</a></button>
</div>
<div class="form-group">
  <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><a routerLink="/customer">Customer</a></button>
</div>
<div class="form-group">
  <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><a routerLink="/farmer">Farmer</a></button>
</div>
<div class="form-group">
  <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><a routerLink="/vendor">Vendor</a></button>
</div>
<div class="form-group">
  <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><a routerLink="/transport">Transport</a></button>
</div>

