<div class="jumbtron">
<h1 class="display-4 text-center">User Registration</h1>
<hr>
<div class="row">

<div class="col-md-5">
    <nav>
    <!-- <a routerLink="/register">Register</a> -->
  <app-employee-details></app-employee-details>
  </nav>
</div>

<div class="col-md-7">
    <nav>
        <!-- <a routerLink="/list">Registered Employee List</a> -->
      <!-- <app-employee-details></app-employee-details> -->
      </nav>
  <app-emplyee-detail-list></app-emplyee-detail-list>
</div>
</div>
<router-outlet></router-outlet>
</div>