.imgContainer {
       
        width: 200px;
        height: 200px;
        background: url(../../assets/images/agri.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
     
}